{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
    assign money_symbol = cart.currency.symbol
    if use_variant
      assign target = product.selected_or_first_available_variant
    else
      assign target = product
    endif
  
    assign compare_at_price = target.compare_at_price
    assign price = target.price | default: 1999
    assign available = target.available | default: false
    assign money_price = price | money_without_trailing_zeros 
    if settings.currency_code_enabled
      assign money_price = price | money_without_trailing_zeros
    endif
  
    comment
    if target == product and product.price_varies
      assign money_price = 'products.product.price.from_price_html' | t: price: money_price
    endif
    endcomment
  -%}
  
  <div
    class="
      price
      {%- if price_class %} {{ price_class }}{% endif -%}
      {%- if available == false %} price--sold-out {% endif -%}
      {%- if compare_at_price > price %} price--on-sale {% endif -%}
      {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
      {%- if show_badges %} price--show-badge{% endif -%}
      {%- if product.metafields.rocket.badge != blank %} price--badge-product{% endif %}
    "
  >
    <div class="price__container">
      {%- comment -%}
        Explanation of description list:
          - div.price__regular: Displayed when there are no variants on sale
          - div.price__sale: Displayed when a variant is a sale
      {%- endcomment -%}
        {%- if compare_at_price > price %}
            <div class="price__sale">
                <span class="price-item price-item--sale price-item--last" style="{% if product.metafields.custom.background_price_sale != blank %} background-color: {{ product.metafields.custom.background_price_sale }} !important;; padding: 1px 4px; {% endif %} {% if product.metafields.custom.color_price_sale != blank %} color: {{ product.metafields.custom.color_price_sale }} !important; {% endif %}">
                    {{ money_price }}
                </span>
                {%- unless product.price_varies == false and product.compare_at_price_varies %}
                    <span class="price-item--first">
                        <del class="price-item price-item--regular">
                        {% if settings.currency_code_enabled %}
                            {{ compare_at_price | money_without_trailing_zeros }}
                        {% else %}
                            {{ compare_at_price | money_without_trailing_zeros  }}
                        {% endif %}
                        </del>
                    </span>
                {%- endunless -%}
                <span class="price-item price-item--discount price-item--last {{ text_font_class }}">
                    {% liquid 
                        assign bc = compare_at_price | minus: price | times: 100 | divided_by: compare_at_price
                    %}
                    -{{ bc | remove: ' ' }}%
                </span>
                {% if show_info_icon %}
                  {% render "rocket-system-price-info", product: product %}
                {% endif %}
            </div>
        {% else %}
            <div class="price__regular">
                <span class="price-item price-item--regular">
                    {{ money_price }}
                </span>
                {% if show_info_icon %}
                  {% render "rocket-system-price-info", product: product %}
                {% endif %}
            </div>
        {% endif %}
      <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
        <span class="price-item price-item--last">
          <span class="{{ text_font_class }}">{{- product.selected_or_first_available_variant.unit_price | money_without_trailing_zeros -}}</span>
          <span aria-hidden="true">/</span>
          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
          <span class="{{ text_font_class }}">
            {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
              {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
          </span>
        </span>
      </small>
    </div>
    {% if product.metafields.rocket.badge %}
      <div class="product-badge">{{ product.metafields.rocket.badge }}</div>
    {% endif %}
  </div>
  