{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer rocket-footer section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    or section.settings.enable_follow_on_shop
  -%}
   {%-  assign brand_information = section.blocks | where: 'type', 'brand_information' -%}
   {%-  assign link_list = section.blocks | where: 'type', 'link_list' -%}
      <div class="rocket-footer__line"> </div>
      <div class="rocket-footer__top">
        <div class="rocket-footer__footer-left">
          {%- for block in brand_information -%}
            {%- if block.settings.image != blank -%}
              <div class="rocket-footer__brand-image">
                {{ block.settings.image | image_url: width: block.settings.image_width | image_tag: loading: 'lazy' }}
              </div>
            {%- endif -%}
            {%- if block.settings.show_social -%}
              <div class="rocket-footer__social-icons">
                {%- render 'social-icons' -%}
              </div>
            {%- endif -%}
            <div class=" footer__localization isolate">
            
              <div class="footer__localization-icon">
              {% render 'icon-globe' %}
                </div>
              {%- if section.settings.enable_country_selector -%}
                <noscript>
                  {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                      <h2 class="visually-hidden hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                      <select
                        class="localization-selector link body-link-m"
                        name="country_code"
                        aria-labelledby="FooterCountryLabelNoScript"
                      >
                        {%- for country in localization.available_countries -%}
                          <option
                            value="{{ country.iso_code }}"
                            {%- if country.iso_code == localization.country.iso_code %}
                              selected
                            {% endif %}
                          >
                            {{ country.name }} ({{ country.currency.iso_code }}
                            {{ country.currency.symbol }})
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                  {%- endform -%}
                </noscript>
                <localization-form>
                  {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <h2 class="caption-large text-body hidden" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                      {%- render 'country-localization', localPosition: 'FooterCountry' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
              {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
                <noscript>
                  {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
                    <div class="localization-form__select">
                      <div class="visually-hidden hidden" id="FooterLanguageLabelNoScript">
                        {{ 'localization.language_label' | t }}
                      </div>
                      <select
                        class="localization-selector link"
                        name="locale_code"
                        aria-labelledby="FooterLanguageLabelNoScript"
                      >
                        {%- for language in localization.available_languages -%}
                          <option
                            value="{{ language.iso_code }}"
                            lang="{{ language.iso_code }}"
                            {%- if language.iso_code == localization.language.iso_code %}
                              selected
                            {% endif %}
                          >
                            {{ language.endonym_name | capitalize }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                    <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                  {%- endform -%}
                </noscript>
      
                <localization-form>
                  {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
                    <div class="no-js-hidden">
                      <div class="caption-large text-body hidden" id="FooterLanguageLabel">
                        {{ 'localization.language_label' | t }}
                      </div>
                      {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
                    </div>
                  {%- endform -%}
                </localization-form>
              {%- endif -%}
            </div>
            {%- if block.settings.subtext != blank -%}
              <div class="rocket-footer__brand-description">
                {{ block.settings.subtext }}
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>
        <div class="rocket-footer__footer-right">
          {% for block in link_list  -%}
            <div class="rocket-footer__column" {% if block.settings.mobile_order != blank %}style="--mobile-order: {{ block.settings.mobile_order }}"{% endif %}>
              <div class="rocket-footer__heading text-dark-grey">
                {{  block.settings.heading }}
                </div>
                <ul class="footer-block__details-content list-unstyled">
                  {%- for link in block.settings.menu.links -%}
                    <li>
                      <a
                        href="{{ link.url }}"
                        class=" body-m-regular text-black link"
                      >
                        {{ link.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
          {% endfor %}
        </div>
      </div>
  {%- endif -%}
  <div class="rocket-footer__bottom">
    <div class="rocket-footer__copyright">
      <ul class="list-unstyled">
        {%- for link in section.settings.footer_menu.links -%}
          <li>
            <a
              href="{{ link.url }}"
              class=" body-m-regular text-grey link"
            >
              {{ link.title }}
            </a>
          </li>
        {%- endfor -%}
        {% if section.settings.copyright != blank %}
          <li>
            <a class="body-m-regular text-grey link ">{{ section.settings.copyright }}</a>
          </li>
        {% endif %}
      </ul>
      </div>
    </div>
</footer>

<modal-dialog class="modal-dialog" id="PopupModal-Error" >
  <div
    role="dialog"
    aria-modal="true"
    class="product-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-Error"
      type="button"
      class="product-popup-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="product-popup-modal__content-info">
      <div class="product-form__error-message-wrapper" role="alert" >
        <svg
          aria-hidden="true"
          focusable="false"
          class="icon icon-error"
          viewBox="0 0 13 13"
        >
          <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
          <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
          <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
          <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
        </svg>
        <span class="product-form__error-message"></span>
      </div>
    </div>
  </div>
</modal-dialog>

{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
      
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        },
        {
          "type": "text",
          "id" : "mobile_order",
          "label": "Order on mobile "
        }
      ]
    },

    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "number",
          "id": "image_width",
          "label": "Image width",
          "default": 100
        },
     
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    }
  ],
  "settings": [
   
 
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    { 
      "type": "header",
      "content": "Copyright"
    },
    {
      "type": "text",
      "id": "copyright",
      "default": "© SYSTEMACTION",
      "label": "Copyright"
    },
    {   "type": "url",
      "id": "copyright_link",
      "label": "Copyright Link"
    },
    {
      "type": "link_list",
      "id": "footer_menu",
      "label": "Footer Menu"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [ 
      
    ]
  }
}
{% endschema %}
