{% liquid
    assign section_settings = section.settings
    assign section_id_class = '#shopify-section-{{ section.id }}'

    assign seo_list = collection.metafields.custom.seo_dropdown.value
%}

{% style %}
    {{ section_id_class }} .section-{{ section.id }}--padding {
        padding-top: {{ section_settings.padding_top_mb }}px;
        padding-bottom: {{ section_settings.padding_bottom_mb }}px;
    }
    {{ section_id_class }} .accordion-heading {
        color: {{ section_settings.color_heading }};
    }
    {{ section_id_class }} .accordion-heading svg path {
        fill: {{ section_settings.color_heading }};
    }
    {{ section_id_class }} .accordion-item-body-content * {
        color: {{ section_settings.color_content }};
    }
    @media(min-width: 768px) {
        {{ section_id_class }} .section-{{ section.id }}--padding {
            padding-top: {{ section_settings.padding_top }}px;
            padding-bottom: {{ section_settings.padding_bottom }}px;
        }
    }
{% endstyle %}

<div class="section-{{ section.id }}--padding">
    <div class="collection-accordian--container">
        <div class="collection-accordian--innner">
            {% if seo_list != blank %}
                {% for seo_item in seo_list %}
                    {% assign title = seo_item.title | metafield_text %}
                    {% assign description = seo_item.description | metafield_tag %}

                    <div class="accordion-item">
                        <h2 class="accordion accordion-heading body-m-medium">
                            <span>{{ title }}</span>

                            {% render 'systemaction-icon-plus' %}
                            {% render 'systemaction-icon-minus' %}
                        </h2>
                        <div class="accordion-item-body">
                            {% if description != blank %}
                                <div class="accordion-item-body-content body-m-regular">
                                    {{ description }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for block in section.blocks %}
                    {% assign item = block.settings %}

                    {% if item.heading != blank %}
                        <div class="accordion-item">
                            <h2 class="accordion accordion-heading body-m-medium">
                                <span class="body-m-medium">{{ item.heading }}</span>

                                {% render 'systemaction-icon-plus' %}
                                {% render 'systemaction-icon-minus' %}
                            </h2>
                            <div class="accordion-item-body">
                                {% if item.content != blank %}
                                    <div class="accordion-item-body-content body-m-regular">
                                        {{ item.content }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
      });
    }
</script>


{% schema %}
    {
        "name": "Systemaction-SEO-Dropdown",
        "class": "section section-collection-accordian",
        "tag": "section",
        "settings": [
            {
                "type": "header",
                "content": "Color"
            },
                {
                    "type": "color",
                    "id": "color_heading",
                    "label": "Heading"
                },
                {
                    "type": "color",
                    "id": "color_content",
                    "label": "Content"
                },
            {
                "type": "header",
                "content": "Padding"
            },
                {
                    "type": "range",
                    "id": "padding_top",
                    "label": "Padding Top",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 36,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "label": "Padding Bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 36,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "padding_top_mb",
                    "label": "Padding Top on Mobile",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 24,
                    "unit": "px"
                },
                {
                    "type": "range",
                    "id": "padding_bottom_mb",
                    "label": "Padding Bottom on Mobile",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "default": 24,
                    "unit": "px"
                }
        ],
        "blocks": [
            {
                "name": "Item",
                "type": "block",
                "settings": [
                    {
                        "type": "text",
                        "id": "heading",
                        "label": "Heading",
                        "default": "Accordian Heading"
                    },
                    {
                        "type": "richtext",
                        "id": "content",
                        "label": "Content"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Systemactions-SEO-Dropdown"
            }
        ]
    }
{% endschema %}
